.card {
	display: flex;
	justify-content: flex-start;
	gap: 0.45rem;
}

.bar {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 0.5rem;
}

.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.title {
	flex-grow: 1;
}

.date {

}