@import url('https://use.typekit.net/hzx4tge.css'); /* TODO: Import just 2-3 fonts */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

h1 {
	font-family: stratos-lights, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
}

h2 {
	font-family: stratos-lights, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
}

h3 {
	font-family: stratos-light, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.4rem;
}

p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4rem;
	font-size: 1.1rem;
	letter-spacing: 0.075rem;
	font-weight: 300;
	color: #e9e9e9;
}

.bold {
	/* font-weight: 700; */
	color: var(--color-delta);
}

.italic {
	font-style: italic;
}