.box {
    background-color: var(--highlight-bk);
    
    /* TODO: Unify style */
    border-radius: 0.45rem;
    padding: 0.9rem 1rem;

    max-width: 400px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 0.45rem;
    position: relative;
}

.l {
    position: relative;
    top: 3.6px;
}

.list-item {
    margin-bottom: 0.9rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.input {
    border-radius: 0.225rem;
    box-sizing: border-box;
    background-color: #363636;
    border: 1px solid gray;
    padding: 0.45rem;
    width: 100%;
    color: white;

    cursor: pointer;

    &:hover {
        background-color: var(--color-delta);
        border-color: var(--color-delta);
        color: #b6b6b6;
    }
}

.line {
    display: flex;
    line-height: 2rem;
    color: #5a5a5a;
    
    box-sizing: border-box;
    /* margin-bottom: 0.9rem; */

    &::after,
    &::before {
        display: table;
        content: "";
        flex-grow: 1;
        background-color: #3a3a3a;
        height: 1px;
        margin: 1rem 0.45rem;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.45rem;
}

.fb {
    background-color: #2f71af;
    
    &:hover {
        background-color: #154e83;
        border-color: #154e83;
        color: #d6d6d6;
    }
}

.more {
    width: 2rem;
}

.link {
    color: var(--color-delta);
    text-decoration: none;
}