.wrapper {
	padding: .5rem .45rem;
	display: grid;
	gap: 1rem;

	max-width: 400px;
	margin: 0 auto;

	@media (--vw-large) {
		max-width: var(--max-width-l);
	}
}

.content {
	display: grid;
	gap: 0.9rem;

	@media (--vw-large) {
		grid-template-columns: repeat(5, 1fr);
		max-width: 1500px;
	}
}

.lhs {
	grid-column: span 3;
}

.rhs {
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	gap: 0.9rem;
}


.bk {
	width: 100%;
	height: 12rem;

	@media (--vw-large) {
		height: 20rem;
	}
}

.bk-img {
	border-radius: 0.45rem;
	height: 100%;
	width: 100%;
	
	background-position: center;
	background-size: cover;
}

.title {
	padding-top: 1rem;
	color: #1d7e0a;

	font-size: 1.6rem;
	line-height: 2rem;

	&::after {
		content: "";
		display: table;
		width: 100%;
		height: 2px;
		background-color: #1d7e0a;
		margin-top: 10px;
	}
}

.info {
	background-color: #0f0f0f;
	border-radius: 0.45rem;
	padding: 1.2rem 1rem;
	line-height: 1.2rem;

	flex-direction: column;
	display: flex;
	gap: 0.45rem;
}

.info-item {
	display: flex;
	gap: 0.45rem;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;

	/* position: relative; */
	/* display: inline-block; */
	display: block;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.4rem;
}

.price-icon { background-image: svg-load('style/price.svg', stroke=#fff, stroke-width=1.5); background-position-y: 1.3px !important; } 
.date-icon { background-image: svg-load('style/clock.svg', stroke=#fff, stroke-width=1.5); }
.pin-icon { background-image: svg-load('style/pin.svg', stroke=#fff, stroke-width=1.5); }

.icon-text {
	line-height: 1.5rem;
}

.location {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

/* TODO: MapKit/MazeMap support */
.map {
	/* display: none; */
	height: 10rem;
	width: 100%;
	overflow: hidden;
	border-radius: 3px;
	
	margin-top: 0.45rem;
}

.map-bk {
	max-width: 100%;
}

/* ===== Organizers ===== */

.org {
	display: flex;
	gap: 0.45rem;
}

.list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 0.45rem;
}

/* TODO: Consolidate profile pics */
.profile {
	background-color: aquamarine;
	border-radius: 50%;
	height: 2.64rem;
	width: 2.64rem;
}
