.wrapper {
    max-width: var(--max-width-l);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    padding: 0.9rem 1rem;
    gap: 2rem;

    &::after {
        content: "";
        display: table;
        height: calc(100vh - 37.9rem);
    }

    @media (--vw-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.9rem 1.2rem;
    }

    @media (--vw-large) {
        grid-template-columns: repeat(3, 1fr);
    }
}